/*   Import the fonts   */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Dots&display=swap');



/* Root rules to apply to all aspects of the CSS */
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #31656a;
    --secondary-color: #577a86;
    --accent1-color: #3b4745;
    --accent2-color: #a9c8cc;
    --accent3-color: #8b8585;

    /* change the values below to your chosen font(s) */
    --heading-font: "Zen Dots", Helvetica;
    --paragraph-font: "Roboto", Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #3b4745;
    /* headlines on a white background */
    --headline-color-on-color: #577a86;
    /* headlines on a colored background */
    --paragraph-color-on-white: #428a91;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #E6E6E6;
    /* paragraph text on a colored background */
    --paragraph-background-color: #E9E8DF;
    --nav-link-color: #452D0D;
    --nav-background-color: #bee9f0;
    --nav-hover-link-color: #ebe0d6;
    --nav-hover-background-color: #0d98af;
}

/****************************************************************
*
* Default tag properties *
*
*****************************************************************/
body {
    font-family: var(--paragraph-font);
    font-size: 20px;
    color: var(--accent3-color);
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    /*! margin: 0 0 2em 0; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--secondary-color);

}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: .75em;
}

img {
    max-width: 100%;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


/****************************************************************
* *
* default properties for all pages *
* *
*****************************************************************/
.content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #E9E8DF;
}

/*  This rule name changes based upon the default button color   */
.btn-blue {
    background-color: var(--primary-color);
    padding: 1em 2em;
    color: var(--accent2-color);
}

.buttons {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 30px;
    border-radius: 20px;
}

/*  This is the default grid layout for all grids. Other grids can be defined as needed. */
.grid-default {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3em 0;
}


/****************************************************************
* *
* header area properties *
* *
*****************************************************************/
header {
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;
    background-color: #e9e8df;
    border-bottom: 2px #a9c8cc solid;
    }

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    justify-items: center;
    color: #bee9f0;

}


/*  HTML format for these next 2 rules
*    <a class="nav-item" href="...">...</a>    */
.nav-item {
    color: var(--primary-color);
    padding: 2em;
    /* grid-column: 3/12; */
    /* grid-row: 1; */
    justify-self: right;
}

.nav-item:hover {
    color:var(--accent1-color);
    /* background-color: #000; */
} 


/****************************************************************
* *
* footer area properties *
* *
*****************************************************************/
footer {
    background-color: #393737;
    color: #edf4f4;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-content: center;
    align-items: center;
    padding: 2em 1em;
}

.social {
    /*! display: grid; */
    /*! grid-template-columns: repeat(4, 100px); */
    grid-column: 10/13;
    grid-row: 1;
    /*! padding-top: 10px; */
    /*! padding-left: 75px; */
    /*! padding-bottom: 20px; */
    /*! padding-right: 75px; */


    justify-self: end;
}

.company-info {
    grid-column: 1/6;
    grid-row: 1;
    /*! justify-self: center; */
}

.facebook-icon {
    grid-column: 1;
    grid-row: 1;
    padding-top: 10px;
    padding-left: 20px;
}

.insta-icon {
    grid-column: 3;
    grid-row: 1;
    padding-top: 10px;
}

.twitter-icon {
    grid-column: 2;
    grid-row: 1;
    padding-top: 10px;
}

.site-plan {
    /* box-sizing: border-box;
border-radius: 5px solid #577a86 ;
background: #185f66; */
    /*! font-size: 23px; */
    /*! padding-left: 30px; */
    /*! padding-top: 5px; */
    color: #fdfdfd;
    grid-column: 7;
}

.logo {
    width: 300px;
    height: 150px;
    margin-left: 30px;
}


.hero-img {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/4;
}

.home-title {
    font-size: 1.5em;
    grid-column: 3/5;
    color: #bee9f0;

}

.hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 6em 6em;
    background-color: #e9e8df;
}

#hero-msg {
    grid-column: 9 / -1;
    grid-row: 3;
    padding-top: 9em;
    padding-left: 40px;
}

.inquire {
    border: solid 1px #5d848a;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    text-decoration: none;
    width: 50px;
    z-index: 4;
    outline: none;
    background: #5F949C;
    padding: 20px;
    font-size: 1.4rem;
    color: #E1F8F2;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;

}

.home-pg-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #e9e8df;
    gap: 3em;
}

.company-statement {
    grid-column: 1/-1;
    grid-row: 1;
    font-size: 1em;
    padding-left: 4em;
    padding-top: 1em;
}

.info-par-1 {
    grid-column: 2/7;
    grid-row: 1;
    padding-top: 115px;
    padding-left: 150px;

}

.coin {

    grid-column: 1/3;
    grid-row: 1;
    padding-top: 100px;
    padding-left: 50px;
    font-size: 3em;
    font-weight: bold;
    border-radius: 25%;
}

.info-par-2 {
    grid-column: 8/-1;
    grid-row: 1/7;
    padding-top: 5em;
    padding-right: 30px;


}

.computer-icon {
    border-radius: 100%;
    grid-column: 7;
    grid-row: 1/3;
    padding-top: 7em;

}


.recent-header {
    grid-column: 1/7;
    grid-row: 2;
    margin: 0;
    justify-self: center;
    padding-top: 1em;
    
}

.recent-img {
    grid-column: 1/7;
    width: 100%;
    padding-left: 30px;
    /* padding-bottom: 5em; */
    

}

.bottom-img-bottom-banner {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 4/7;



}

.info-par-2 p {
    padding: 1em 0;
}

.info-par-2 h4 {
    font-size: 1em;
    font-weight: bold;

}

.cellphone-icon {
    grid-column: 7;
    grid-row: 2;
    padding-bottom: 1em;

}

/* ************************************************* */
/* Css specfic to work-together page */

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 13em 13em;
    gap: 3em 0;
    background-color: #577a86;

}

.work-together-image {
    width: 100%;
    grid-column: 4/10;
    grid-row: 1;

    padding-top: 50px;
    /* padding-left: 400px; */

}

.work-together-heading {
    grid-column: 6/9;
    grid-row: 1;
    padding-left: 150px;
    padding-top: 150px;


}

.contact-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*! grid-template-rows: repeat(4, minmax(0, 1fr)); */
    gap: 3em 0;
    background-color: #E9E8DF;

    /*! margin: 2em 0; */
}

.contact {
    grid-column: 5/9;
    grid-row: 2;
}

.side-msg {
    grid-column: 4/10;
    grid-row: 3;
    color: #185f66;
}


/* Form CSS */
form {
    /*! max-width: 600px; */
    display: grid;
    grid-template-columns: 1fr 3fr;
}

label {
    grid-column: 1;
    justify-self: right;
    text-align: right;
}

input {
    grid-column: 2;
}

textarea {
    grid-column: 2;
}


button {
    width: 205px;
    background-color: #577a86;
    color: #ffffff;
    padding: 1.5em;
    border-radius: 20px;
    justify-self: center;

}

.contact fieldset {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
    border: 3px #0e0404 solid;
    border-radius: 35px;
    grid-column: 1/-1;
    color: #3b4745;
}

.contact legend {
    margin: 0 2em;
}

main {
    margin: 0 0 2em 0;
}

nav a {
    color: var(--accent1-color);
}

.contact-us-img {
    grid-column: 2/5;
    grid-row: 2;
    padding-left: 1em;
}

.side-msg {
    grid-column: 9/-1;
    grid-row: 2;
    padding-left: 1em;
    padding-top: 2.40em;
    font-size: 1.25em;
    color: #577a86;

}

/* ------------CSS specific to our services page------------------------------------------------  */

.services-hero-msg {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10em 10em;
    gap: 3em 0;

}

.copy-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 6em 6em 6em; */
    gap: 3em 0;
    
    /* grid-column: 1/11;
    grid-row: 1/10; */
    /* padding-top: 2em */

}

.design-copy {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 6em 6em 6em; */
    gap: 3em 0;
    /* padding-left: 5em; */
    /* padding-top: 6em; */
    padding-bottom: 3em;
    grid-column: 2/12;
    grid-row: 2;
    background-color: #e7e7e7;
    border: 2px solid #d4d3d3;
    box-shadow: 10px 10px 15px #a9b5b3;

}

.img-1 {
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1/3;
}

.button-box-os {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.design-header {
    grid-column: 1/9;
    grid-row:1;
    padding-left: 2.9em;
    font-size: 1.50rem;
    padding-top: 1.5em;
    color: #577a86;
}
.copy-design-par{
    grid-column: 1/6;
    grid-row:1/7;
    font-size: 1.5rem;
    padding-top: 5em;
    padding-left: 3em;
}
.secondary-header{
grid-column: 1/7;
grid-row:1;
padding-left: 3em;
padding-top: 12em;
color:#577a86;
font-family: zen dots;
font-size:1.5rem

}
.design-list {
    grid-column: 2/5;
    grid-row: 1/7;
    font-size: 2rem;
    padding-top: 10em;
    padding-left: 4em;
    color:#3b4745;
   
  
}
.tech-header{
    grid-column:7/-1;
    grid-row: 1;
    font-size:1.5rem;
    padding-top: 1.5em;
    padding-left: 4em;
    padding-right: 2em;
}
.copy-tech-par-1{
    grid-column:7/-1;
    grid-row: 1;
    font-size: 1.5rem;
    padding-top: 5em;
    padding-right: 1.5em;

}
.copy-tech-par-3{
    grid-column:7/-1;
    grid-row: 1;
    font-size: 1.5rem;
    padding-top: 9em;
    padding-right: 3.5em;

}
.tech-list{
    grid-column:7/-1;
    grid-row:1/6;
    font-size: 2rem;
    padding-top: 10em;
    color:#3b4745;
}
.items{
    padding-bottom: 1.25em;
    padding-right: 1em;
}
/* ---------CSS specfic to my story------------------------- */
.ms-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1em);
    gap: 1em 0;
    background-color: #F7F5EE;
    padding: 3em 0;
}
.my-story-copy{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6,3em); 
    grid-column: 1/-1;  
    background-color: #8b8585;
    padding-bottom: 3em;
}
.img{
    box-sizing: border-box;
}
.img-1-ms {
grid-column: 7/11;
grid-row: 1/5;
border: 5px #a9c8cc solid;
border-radius: 30px 30px 30px 30px;

}
/* .title-container{
    background-color: #E9E8DF;
} */
.my-story-title {
    grid-column: 4/8;
    grid-row: 5;
    background-color: #E9E8DF;
    align-self: center;
    padding: .5em;
    justify-self: center;
    position: relative;
    font-size: 1.75rem;
    
    }
.my-story-2nd{
    font-size: 1.75rem;
    background-color: #E9E8DF;
    grid-column: 2/8;
    grid-row: 7;
    padding-bottom:20px;
    align-self: center;
    padding: .5em;
 
    position: relative;
}

.button-box-ms {
    grid-column: 5;
    grid-row: 10;
    align-self: center;
    justify-self: center;
}
/* .inquire button-box-ms{
    /* grid-column: 5;
    grid-row: 7; */
   
/* /} */
.img-2-ms{
    grid-column: 8/12;
    padding-top: 3em;
} 
.img-3-ms{
    grid-column: 1/6;
    grid-row:1/3; 
    padding-left: 3em;
    padding-top:1em;
 }
.copy-par-1-ms{
    font-size: 1.50rem;
    grid-column: 7/-1;
    grid-row: 1;
    padding-left:1em;
    padding-top: 3em; 
    color:#E6E6E6;
}
.copy-par-2-ms{
    grid-column: 1/7;
    grid-row: 1/2;
    font-size: 1.50rem;
    padding-top: 5em;
}
.content {
    background-color: #E6E6E6;
    }
.heading-1-ms{
    font-size: 1.50rem;
    grid-column: 6/10;
}
.copy-container-ms{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 6em 6em 6em;  
    background-color: #8b8585; 
}
.copy-par-1a-ms{
    grid-column: 7/-1;
    padding-top: 3em;
    padding-left: 1em;
    color:#E6E6E6;
    font-size:1.50rem;

}
.copy-par-2-ms{
    grid-column: 1/7;
    grid-row: 1;
    padding-left: 1em;
    padding-top:1em;
    color:#E6E6E6;
    font-size: 1.25rem;
}  
.heading-copy-3-ms{
    grid-column: 1/-1;
    grid-row: 4;
    color:#a9c8cc;
    padding-left: 1em;



}
.copy-par-3{
    grid-column: 7/13;
    grid-row: 1;
    color:#E6E6E6;
    padding-top: 1em;
    padding-right: 2em;
    padding-left: 1em;

}
