@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zen+Dots&display=swap');



/* Root rules to apply to all aspects of the CSS */
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #185f66;
    --secondary-color: #577a86;
    --accent1-color: #3b4745;
    --accent2-color: #a9c8cc;
    --accent3-color: #8b8585;

    /* change the values below to your chosen font(s) */
    --heading-font: "Zen Dots" Helvetica;
    --paragraph-font: "Roboto", Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #3b4745;
    /* headlines on a white background */
    --headline-color-on-color: #141515;
    /* headlines on a colored background */
    --paragraph-color-on-white: #428a91;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #E6E6E6;
    /* paragraph text on a colored background */
    --paragraph-background-color: #428a91;
    --nav-link-color: #452D0D;
    --nav-background-color: #bee9f0;
    --nav-hover-link-color: #ebe0d6;
    --nav-hover-background-color: #0d98af;
}

/****************************************************************
*
* Default tag properties *
*
*****************************************************************/
body {
    font-family: var(--paragraph-font);
    font-size: 20px;
    color: var(--accent3-color);
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--secondary-color);

}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: .75em;
}

img {
    max-width: 100%;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


/****************************************************************
* *
* default properties for all pages *
* *
*****************************************************************/
.content {
    max-width: 1600px;
    margin: 0 auto;
}

/*  This rule name changes based upon the default button color   */
.btn-blue {
    background-color: var(--primary-color);
    padding: 1em 2em;
    color: var(--accent2-color);
}

.buttons {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 30px;
    border-radius: 20px;
}

/*  This is the default grid layout for all grids. Other grids can be defined as needed. */
.grid-default {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3em 0;
}


/****************************************************************
* *
* header area properties *
* *
*****************************************************************/
header {
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;
    background-color:#e9e8df;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
    justify-items: center;
    color:#bee9f0;
    
}


/*  HTML format for these next 2 rules
*    <a class="nav-item" href="...">...</a>    */
.nav-item {
    color: var(--primary-color);
    padding: 2em;
    /* grid-column: 3/12; */
    /* grid-row: 1; */
    justify-self: right;
}

/* .nav-item:hover {
    color: #fff;
    background-color: #000;
} */


/****************************************************************
* *
* footer area properties *
* *
*****************************************************************/
footer {
    background-color:#8b8585;
    color: var(--accent2-color);
    font-size: 1.5em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.social {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-column:5/8 ;
    grid-row: 4;
    padding-top: 10px;
    padding-left: 75px;
    padding-bottom: 20px;
    padding-right: 75px;


}
.company-info{
   grid-column: 4/10;
   grid-row: 1; 
   justify-self: center;
}
.facebook-icon{
    grid-column: 1;
    grid-row: 1;
    padding-top: 10px;
    padding-left: 20px;
}
.insta-icon{
    grid-column:3;
    grid-row: 1;
    padding-top: 10px;
}
.twitter-icon{
    grid-column: 2;
    grid-row: 1;
    padding-top: 10px;
}
.site-plan{
/* box-sizing: border-box;
border-radius: 5px solid #577a86 ;
background: #185f66; */
font-size:23px;
padding-left: 30px;
padding-top: 5px;
color:#a9c8cc}
   
.logo {
    width: 300px;
    height: 150px;
    margin-left: 30px;
}